<h2>Add a new item</h2>
<div class="">
  <form method="post" action="/add_todo">
    <fieldset>
      <label for="todo">To do:</label>
      <br>
      <input type="text" name="todo" id="todo" placeholder="e.g. call sister" autofocus>
    </fieldset>
    <input type="submit">
  </form>
</div>
