<h2>Add a new to-do item</h2>
<div class="">
  <form method="post" action="/add_todo">
    <fieldset>
      <label for="todo">To do:</label>
      <br>
      <input type="text" name="todo" id="todo">
    </fieldset>
    <input type="submit">
  </form>
</div>

<a href="/">Back to to-do list</a>
