<h2>Clear done items</h2>

  <% counter = 0 %>
  <% TODOS.todos.each do |item| %>
    <% if item[:completed] == true %>
      <% counter += 1 %>
    <% end %>
  <% end %>
  <% if TODOS.todos.empty? %>
    <p>Your to-do list is empty. <a href="/add_todo">Let's add a new item</a></p>
  <% elsif counter == 0 %>
    <p>You have not completed any items. <a href="/complete_todo">Let's mark an item as complete</a></p>
  <% else %>
    <div class="">
      <p>Are you sure you wish to clear all completed items?</p>
      <form method="post" action="/clear_completed_todos">
        <input type="submit">
      </form>
    </div>
    <hr>
    <div class="content">
      <h2>To dos:</h2>
      <% TODOS.todos.each_with_index do |todoentry, index| %>
        <% if todoentry[:completed] == true %>
          <p class="todo completed"><%= index + 1 %>: <%= todoentry[:todo] %></p>
        <% else %>
          <p class="todo incomplete"><%= index + 1 %>: <%= todoentry[:todo] %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
