<h1>Edit todo</h1>
<form>
  <!-- <input type="hidden" name="_method" value="put" /> -->
  <fieldset>
    <label for="todo">Edit to:</label>
    <br>
    <input type="text" name="todo" id="todo" placeholder="e.g. call brother" autofocus required>
  </fieldset>
  <input type="submit" value="Edit">
</form>
