<div class="content">
  <% if TODOS.todos.empty? %>
    <p>Your to-do list is empty. <a href="/add_todo">Let's add a new item</a></p>
  <% else %>
    <% TODOS.todos.each_with_index do |todoentry, index| %>
      <p class="todo">
        <%= todoentry[:todo] %>
        <form method="post" action="/todos/<%= index %>">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete">
        </form>
      </p>
    <% end %>
  <% end %>
</div>
