<h2>All to-dos - completed and incomplete</h2>
<% TODOS.each_with_index do |todoentry, index| %>
  <p><%= index + 1 %>: <%= todoentry[:todo] %></p>
<% end %>

<p><a href="/add_todo">Add a new to-do item</a></p>
<p><a href="/edit_todo">Edit a new to-do item</a></p>
