<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>To Do List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/">
          <h1>To Do List</h1>
        </a>
        <hr>
        <nav>

          <ul>

            <form method="get" action="/">
              <li>View:
              </li>
              <li><input class="filter-todos" type="submit" value="all" name="status"></li>
              <li><input class="filter-todos" type="submit" value="incomplete" name="status"></li>
              <li><input class="filter-todos" type="submit" value="complete" name="status"></li>
            </form>
          </ul>
        </nav>
        <hr>
        <nav>
          <ul>
            <li>
              <form method="post" action="/todos/delete_done">
                <input class="filter-todos" type="submit" value="ðŸ—‘ï¸ Clear done items">
              </form>
            </li>

            <li>
              <% not_done = 0 %>
                <% if TODOS.todos.empty? %>
                  <p></p>
                <% else %>
                  <% TODOS.todos.each do |todoentry| %>
                    <% if todoentry[:completed] == false %>
                      <% not_done += 1 %><% end %>
                    <% end %>
                    <p class="score">
                      ðŸ“ƒ Items to complete:
                        <%= not_done %>
                      </p>
                  <% end %>

                </li>

              </ul>

            </nav>
            <hr>
          </header>

          <section>
            <%= yield %>
          </section>
          <br>

        </div>
      </body>
    </html>
