<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <header>
      <h1>To Do List</h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <section>
      <p><a href="/add_todo">Add a new item</a></p>
      <p><a href="/edit_todo">Edit an item</a></p>
      <p><a href="/delete_todo">Delete an item</a></p>
      <p><a href="/complete_todo">Mark item as complete</a></p>
    </section>
  </body>
</html>
