<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>To Do List</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/"><h1>To Do List</h1></a>

        <nav>
          <ul>
            <li><a href="/add_todo">Add</a></li>
            <li><a href="/edit_todo">Edit</a></li>
            <li><a href="/delete_todo">Delete</a></li>
            <br>
            <li><a href="/complete_todo">Mark as done</a></li>
            <li><a href="/incomplete_todo">Mark as not done</a></li>
          </ul>
        </nav>
        <hr>
      </header>


      <section>
        <%= yield %>
      </section>

      <div>
        <% done = 0 %>
        <% not_done = 0 %>
        <% if TODOS.todos.empty? %>
          <p></p>
        <% else %>
          <% TODOS.todos.each do |todoentry| %>
            <% if todoentry[:completed] == true %>
              <% done += 1 %>
            <% else %>
              <% not_done += 1 %>
            <% end %>
          <% end %>
          <p><span class="score">Items to complete: <%= not_done %></span></p>
        <% end %>
      </div>

      <nav>
        <hr>
        <ul>
          <li>View: </li>
          <li><a href="/">All</a></li>
          <li><a href="/view_completed_todos">Done</a></li>
          <li><a href="/view_incomplete_todos">Not done</a></li>
        </ul>
      </nav>




    </div>


  </body>
</html>
