<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>To Do List</title>
  </head>
  <body>
    <header>
      <h1>To Do List</h1>
    </header>
    <section>
      <%= yield %>
    </section>

    <section>
      <h3>Manage your list:</h3>
      <p><a href="/add_todo">Add a new item</a></p>
      <p><a href="/edit_todo">Edit an item</a></p>
      <p><a href="/delete_todo">Delete an item</a></p>
      <p><a href="/complete_todo">Mark item as complete</a></p>
      <p><a href="/incomplete_todo">Mark item as incomplete</a></p>
    </section>

    <section>
      <h3>View:</h3>
      <p><a href="/">All items</a></p>
      <p><a href="/view_completed_todos">Completed items</a></p>
      <p><a href="/view_incomplete_todos">Incomplete items</a></p>
    </section>
  </body>
</html>
