<% if @todos.empty? %>
  <p>Your to-do list is empty.</p>
  <form method="post" action="/todos/">
    <fieldset>
      <label for="todo">Add item:</label>
      <br>
      <input type="text" name="todo" id="todo" placeholder="e.g. call brother" autofocus required>
    </fieldset>
    <input type="submit" value="Add">
  </form>
<% else %>
  <div class="content">
    <h2>To dos:</h2>
    <% @todos.each_with_index do |todoentry, index| %>
      <% if todoentry[:completed] == false %>
        <p class="todo incomplete"><%= todoentry[:todo] %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
