@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

/* *{
  border: 1px solid red
} */

html{
  display: flex;
  flex-direction: column;
  background-color: #C1D2F6;
}

body{
  width: 65vw;
  font-family: 'Raleway', sans-serif;
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

a{
  font-weight: 700;
  text-decoration: none;

}

nav a{
  text-decoration: none;
  color: #3D3D42;
}

nav a:hover {
  background-color: #C1D2F6;
  color: #352D33;
}

ul{
  padding: 0;
}

nav li{
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.3rem;
  background-color: #EEC9E4;
  border-radius: 0.2rem;
  justify-content: center;
  padding: 0.2rem;
  list-style: none;
}

hr{
  width: 80%;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset{
  border: 0;
  padding: 0.2rem;
}

input[type=submit]{
  margin: 0.7rem;
  padding: 5px 0.8rem 5px 0.8rem;
  width: 50vw;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #F48B8B;
}

input[type=number], input[type=text]{
  margin: 0.3rem;
  padding: 5px 0.8rem 5px 0.8rem;
  width: 30vw;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 2rem;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.todo{
  border: 1px solid #352D33;
  margin: 0.2rem;
  padding: 0.3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.completed{
  text-decoration: line-through;
  background-color: #C2C3D6;
}

.incomplete{
  background-color: #FFCACE;
}
