html{
  display: flex;
  flex-direction: column;
  background-color: #B2DBBF;
}

body{
  width: 65vw;
  font-family: 'Roboto', sans-serif;
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0.5rem;
}

a{
  font-weight: 700;
  text-decoration: none;
  color: #70C1B3;

}

nav a{
  text-decoration: none;
  color: #FFFFFF;
}

nav a:hover {
  color: #B2DBBF;
}

ul{
  padding: 0;
}

nav li{
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.3rem;
  background-color: #247BA0;
  color: #FFFFFF;
  border-radius: 0.2rem;
  justify-content: center;
  padding: 0.2rem;
  list-style: none;
}

hr{
  width: 80%;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset{
  border: 0;
  padding: 0.2rem;
}

input[type=submit]{
  margin: 0.7rem;
  padding: 5px 0.8rem 5px 0.8rem;
  width: 30vw;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background-color: #247BA0;
  color: #FFFFFF;
}

input[type=number], input[type=text]{
  margin: 0.3rem;
  padding: 5px 0.8rem 5px 0.8rem;
  width: 30vw;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 2rem;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}

.todo{
  border: 1px solid #352D33;
  margin: 0.2rem;
  padding: 0.3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.completed{
  text-decoration: line-through;
  background-color: #70C1B3;
}

.incomplete{
  background-color: #FFF2BC;
}
